/* ici on charge les typos */
@font-face {
    font-family: police1;
    src: url("fonts/Helvetica.ttc");
}

@font-face {
    font-family: police2;
    src: url("fonts/GenWanMin-R.ttc");
}

@font-face {
    font-family: police3;
    src: url("fonts/Arial_Bold.ttf");
}



body {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: scroll; 
    overflow-x: hidden;
}      



table {

    width: 80vw;
    border-collapse: collapse;
    border: 1px solid #333;

    margin-left: 10vw;
    margin-top: 1vh;
}



/* 偶數行的背景顏色 
tr:nth-child(even) {
    background-color: #f2f2f2;
}*/

td {
    padding: 8px;
    border: 1px solid #ddd;
}

/*td:hover {
    background-color: #00ADF1;
}*/

thead {
    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.6rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;  
    border: solid #ccc 1px;  
}   

th{
    padding: 1.5vh;

}

.time {
    
    padding: 1.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.7rem;
}   

.info {
    
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left:  1.5vw;
    padding-right: 1.5vw;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;  
    margin-top: 15px;
    vertical-align: top;
}

.info_2 {
    
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left:  5vw;
    padding-right: 5vw;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;  
    
    margin-top: 15px;
} 

.info_en{
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left:  0.5vw;
    padding-right: 0.5vw;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;  
    margin-top: 15px;

}

.info_keynote{    
    padding-top: 0.5vh;
    padding-bottom: 2vh;
    padding-left:  1.5vw;
    padding-right: 1.5vw;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;  
    margin-top: 15px;
    vertical-align: top;


}
.keynote_speaker {
    
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left:  8vw;
    padding-right: 8vw;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.3rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;  

    
    margin-top: 0px;

} 

.keynote_subjet {
    
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left:  10vw;
    padding-right: 10vw;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.3rem;
    font-style: normal;
    line-height: normal;
    
    margin-top: 0px;

} 


.lib_1{
    padding: 0.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 3px; 
    border-radius: 30px;
    background-color: #BEF2E5;

    position: relative;
    bottom: -5px;
}


.lib_2{
    padding: 0.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 3px; 
    border-radius: 30px;
    background-color: #D2D0FC;

    position: relative;
    bottom: -5px;
}

.lib_3{
    padding: 0.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 3px; 
    border-radius: 30px;
    background-color: #79CEED;

    position: relative;
    bottom: -5px;
   
}

.box{
    padding: 0.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 3px; 
    border-radius: 30px;
    background-color: #D9D9D9;

    position: relative;
    bottom: -5px;
}

.c107{
    padding: 0.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 3px; 
    border-radius: 30px;
    background-color: #E2D36B;
  
    position: relative;
    bottom: -5px;
}

.c208{
    padding: 0.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 3px; 
    border-radius: 30px;
    background-color: #BAC94A;

    position: relative;
    bottom: -5px;
}

.terrasse{
    padding: 0.5vh;

    color: #000;
    text-align: center;
    font-family: police3;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: 3px; 
    border-radius: 30px;
    background: linear-gradient(90deg, #E2D36B 0%, #BAC94A 100%);
    position: relative;
    bottom: -5px;
}




#more_info1, #more_info2, #more_info3, #more_info4, #more_info5, #more_info6, #more_info7, #more_info8, #more_info9, #more_info10, #more_info11, #more_info12, #more_info13, #more_info14, #more_info15, #more_info16, #more_info17, #more_info18, #more_info19, #more_info20, #more_info21, #more_info22, #more_info23{
    display:none;
    color: #000;
    padding-top: 0vh;
    padding-bottom: 2vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;

    text-align: left;
    font-family: police3;
    font-size: 1.05rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;  
    
    margin-top: 15px;
}

#more_bouton1, #more_bouton2, #more_bouton3, #more_bouton4, #more_bouton5, #more_bouton6, #more_bouton7, #more_bouton8, #more_bouton9, #more_bouton10, #more_bouton11, #more_bouton12, #more_bouton13, #more_bouton14, #more_bouton15, #more_bouton16, #more_bouton17, #more_bouton18, #more_bouton19, #more_bouton20, #more_bouton21, #more_bouton22, #more_bouton23{    
    color: #00ADF1;
    background-color:rgba(255,255,255,0);
    text-align:right;
    font-family: police3;
    font-size: 1.8rem;
    border: 0;
    transform: rotate(0);

    position:relative;
    left: 9vw;
}

#title {
     color: #00ADF1;
    /* selection de la couleur */
    font-family: police1;
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;

    margin-left: 6vw;
    margin-top: 4vh;
}

h1 {
    color: #000;
    font-family: Helvetica;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 6vw;
    margin-top: 4vh;
    margin-bottom: 6vh;
}
#event_0902_1{

    color: #fff;
    background-color: #00ADF1;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;

    border:solid #fff 2px;
    padding: 8px 15px;

    position: absolute;
    right: 18vw;
}

#event_0903_1{

    color: #00ADF1;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;

    border:solid #00ADF1 2px;
    padding: 8px 15px;

    position: absolute;
    right: 10vw;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);

}

#event_0903_1:hover{
    color: #fff;
    background-color: #00ADF1;
    border:solid #fff 0px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0);

}




#event_0902_2{

    color: #00ADF1;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;

    border:solid #00ADF1 2px;
    padding: 8px 15px;

    position: absolute;
    right: 18vw;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);

}

#event_0902_2:hover{
    color: #fff;
    background-color: #00ADF1;
    border:solid #fff 0px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0);

}

#event_0903_2{

    color: #fff;
    background-color: #00ADF1;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;

    border:solid #fff 2px;
    padding: 8px 15px;

    position: absolute;
    right: 10vw;
}

a{
    text-decoration: none;
}

p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#a_title{
    text-decoration: none;
    color: #00ADF1;
}


/* SMARTPHONE MODE PORTRAIT */
@media only screen and (max-width: 600px) {
    #title{
        font-size: 2.5rem;
        margin: 4vh 8vw ;
        width: 84vw;
    }
    h1{
        margin: 0vh 8vw;
        font-size: 1.3rem;
        line-height: 2;
        
    
    }
    #h1_en{
        font-size: 0.95rem;
        line-height: 1.5;
    
    }

    table{
        width: 88vw;
        margin-left: 6vw;
        display: flex;
        flex-direction: column;

        border: 1px solid #ddd;
        border-style:solid;
        align-items: flex-start;
    }

 
    td{
        border-color:#fff;
        border: 1px solid #ddd;

        display: block;
        margin-bottom: 10px;
        

       /*  border-top-width:0px;
        border-bottom-width:0px;
        border-right-width:0px;
        border-left-width:0px;*/
    }

    td > * {
        display: block;
        margin-left: 20px; /* 調整條列內容的間距 */
    }

    thead {
        font-size: 5vw;
    }

    tbody {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }

    

    .time{
        font-size: 4.5vw;
        line-height: 1;
        padding: 2vh;
    }

    .info{
        font-size:4.5vw;
        margin-top: 0;

        padding:2vh;
    }

    .info_2{
        font-size:4.5vw;
        margin-top: 0;

        padding:2vh;
    }

    .info_en{
        margin-top: 0;
        font-size:4vw
    }

    .info_keynote{    
        font-size: 4vw;
  
    }
    .keynote_speaker {
        
        font-size: 4vw;
    
    } 
    
    .keynote_subjet {
        
        font-size: 4.5vw;
    } 

    #event_0902_1{
        transform: scale(0.6);
        right:20vw;
    
    }
    
    #event_0903_1{
        transform: scale(0.6);
        right:2vw;
    }
    
    #event_0902_2{
        transform: scale(0.6);
        right:20vw;
    
    }
    
    #event_0903_2{
        transform: scale(0.6);
        right:2vw;
    }

}
    
