/* ici on charge les typos */
@font-face {
    font-family: police1;
    src: url("fonts/Helvetica.ttc");
}

@font-face {
    font-family: police2;
    src: url("fonts/GenWanMin-R.ttc");
}

@font-face {
    font-family: police3;
    src: url("fonts/Arial_Bold.ttf");
}



body {
    overflow: scroll;
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    overflow: scroll; 
    overflow-x: hidden;
}      

#title {
   color: #00ADF1;
   font-family: police1;
   font-size: 7rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0;

   margin-left: 6vw;
   margin-top: 4vh;
}

h1 {
   color: #000;
   font-family: Helvetica;
   font-size: 2rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

   margin-left: 6vw;
   margin-top: 4vh;
   margin-bottom: 6vh;
}

#h1_en{
    color: #000;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#a_title{
    text-decoration: none;
    color: #00ADF1;
}

table{
    width: 84vw;
    border-collapse: collapse;
    margin-left: 8vw;
    margin-right: 8vw ;
}

#table_3{
    border-color:inherit;

}

tr{
    border-color:#ccc;
    border-style:solid;

    border-top-width:0px;
    border-bottom-width:1px;
    border-right-width:0px;
    border-left-width:0px;
}


th{
    border-style:none;

    color:#333;
    font-family:police3;
    font-size: 1.2rem;
    font-weight:normal;
    overflow:hidden;
    padding:3vh 0vw;    
    word-break:normal;
    text-align: center;
}

#th_2{
    color:#333;
    font-family:police3;
    font-size: 1rem;
    font-weight:normal;
    overflow:hidden;
    padding:0;    
    word-break:normal;
    text-align: center;
}

td{
    border-style:none;

    color:#333;
    font-family:police1;
    font-size: 1.05rem;
    overflow:hidden;
    text-align: center;
    vertical-align: top;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left:  1Bvw;
    padding-right: 1vw;   
     word-break:normal;
}


#intro1, #intro2, #intro3, #intro4, #intro5, #intro6, #intro7, #intro8, #intro9, #intro10, #intro11, #intro12, #intro13, #intro14, #intro15, #intro16, #intro17, #intro18, #intro19, #intro20, #intro21, #intro22, #intro23, #intro24, #intro25, #intro26, #intro27, #intro28, #intro29, #intro30, #intro31, #intro32, #intro33, #intro34, #intro35, #intro36, #intro37, #intro38, #intro39, #intro40, #intro41, #intro42, #intro43, #intro44, #intro45, #intro46, #intro47, #intro48, #intro49, #intro50, #intro51, #intro52, #intro53, #intro54, #intro55, #intro56, #intro57, #intro58, #intro59, #intro60, #intro61, #intro62{ 
    display:none;
    color: #000;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 0vw;
    padding-right: 0vw;

    text-align: justify;
    font-family: police1;
    font-size: 0.9rem;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0px;  

   /* border: solid 1px #00ADF1;*/
}    

#intro_bouton1, #intro_bouton2, #intro_bouton3, #intro_bouton4, #intro_bouton5, #intro_bouton6, #intro_bouton7, #intro_bouton8, #intro_bouton9, #intro_bouton10, #intro_bouton11, #intro_bouton12, #intro_bouton13, #intro_bouton14, #intro_bouton15, #intro_bouton16, #intro_bouton17, #intro_bouton18, #intro_bouton19, #intro_bouton20, #intro_bouton21, #intro_bouton22, #intro_bouton23, #intro_bouton24, #intro_bouton25, #intro_bouton26, #intro_bouton27, #intro_bouton28, #intro_bouton29, #intro_bouton30, #intro_bouton31, #intro_bouton32, #intro_bouton33, #intro_bouton34, #intro_bouton35, #intro_bouton36, #intro_bouton37, #intro_bouton38, #intro_bouton39, #intro_bouton40, #intro_bouton41, #intro_bouton42, #intro_bouton43, #intro_bouton44, #intro_bouton45, #intro_bouton46, #intro_bouton47, #intro_bouton48, #intro_bouton49, #intro_bouton50, #intro_bouton51, #intro_bouton52, #intro_bouton53, #intro_bouton54, #intro_bouton55, #intro_bouton56, #intro_bouton57, #intro_bouton58, #intro_bouton59, #intro_bouton60, #intro_bouton61, #intro_bouton62, #intro_bouton63, #intro_bouton64 {
    color: #00ADF1;
    background-color: rgba(255,255,255,0);
    text-align: center;
    font-family: police3;
    font-size: 1.7rem;
    border: 0;
    transform: rotate(0);

}

/*--------------------------------------------------------------------------*/

#detail1, #detail2, #detail3, #detail4, #detail5, #detail6, #detail7, #detail8, #detail9, #detail10, #detail11, #detail12,
.moredetail1, .moredetail2, .moredetail3, .moredetail4, .moredetail5, .moredetail6, .moredetail7, .moredetail8, .moredetail9, .moredetail10, .moredetail11, .moredetail12
{
display:none;
color: #000;
padding-top: 0vh;
padding-bottom: 0vh;
padding-left: 0vw;
padding-right: 0vw;
margin: 1vh 0vw;
text-align: center;
font-family: police1;
font-size: 1rem;
font-style: normal;
line-height: 1.5;
letter-spacing: 0px;
}

#in1, #in2, #in3, #in4, #in5, #in6, #in7, #in8, #in9, #in10, #in11, #in12
{   display:none;
    color: #000;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
    margin: 1vh 0vw;
    text-align: justify;
    font-family: police1;
    font-size: 0.9rem;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;}

.line1{
    margin: 20px 10px 0px 0px;
}
#thesis_58{
    text-align: left;
}

#thesis_64
{ 
    color: #000;
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
    margin: 1vh 0vw;
    text-align: left;
    font-family: police1;
    font-size: 0.9rem;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;
}


.a_64 {
    text-decoration: none;
    border-radius: 30px;
    border: #fff solid 1px;
    color:#00ADF1;
    padding: 0vh 0.5vw;
}
.a_64:hover {
    color: #fff;
    background-color: #00ADF1;
    transition: all .1s;
}

img{
    width: 100px; 
    height: auto;
    margin-top: 6px;
}

#detail_bouton1, #detail_bouton2, #detail_bouton3, #detail_bouton4, #detail_bouton5, #detail_bouton6, #detail_bouton7, #detail_bouton8, #detail_bouton9, #detail_bouton10, #detail_bouton11, #detail_bouton12,
#moredetail_bouton1, #moredetail_bouton2, #moredetail_bouton3, #moredetail_bouton4, #moredetail_bouton5, #moredetail_bouton6, #moredetail_bouton7, #moredetail_bouton8, #moredetail_bouton9, #moredetail_bouton10, #moredetail_bouton11, #moredetail_bouton12,
#in_bouton1, #in_bouton2, #in_bouton3, #in_bouton4, #in_bouton5, #in_bouton6, #in_bouton7, #in_bouton8, #in_bouton9, #in_bouton10, #in_bouton11, #in_bouton12
{
color: #00ADF1;
background-color: rgba(255,255,255,0);
text-align: center;
font-family: police3;
font-size: 1.7rem;
border: 0;
transform: rotate(0);
vertical-align: top;
margin: 0;


}

.expo{
    transform: scale(0.85);
    color: #00ADF1;
    border-radius: 30px;
    border: solid #00ADF1 1px;
    line-height: 1.8;
    margin-top: 3vh;
    margin-bottom: 0vh;
    margin-left: 9vw;
    margin-right: 9vw;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #00ADF1;
    transition: all .1s;
}


/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {
    #title{
        font-size: 2.5rem;
        margin-top: 4vh;
        margin-bottom: 2vh;
        margin-left: 4vh;
        width: 64vw;
    }
    
    h1{
        margin-top: 2vh;
        margin-bottom: 3vh;
        margin-left: 8vw;
        margin-right: 8vw; 
        font-size: 1.3rem;
        line-height: 1.5;
    
    }
    #h1_en{
        font-size: 0.95rem;
        line-height: 1.5;
    
    }

    thead{
        display: none;
    }

    
    tr{
        display: flex;
        flex-direction: column;
        border-color:#ccc;
        border-style:solid;
    
        border-top-width:0px;
        border-bottom-width:1px;
        border-right-width:0px;
        border-left-width:0px;
    }

    td{
        text-align: left;
        margin: 0vh;
        padding-top: 2vh;
        padding-bottom: 0vh;
        line-height: 1.3;
    }

    #intro_bouton1, #intro_bouton2, #intro_bouton3, #intro_bouton4, #intro_bouton5, #intro_bouton6, #intro_bouton7, #intro_bouton8, #intro_bouton9, #intro_bouton10, #intro_bouton11, #intro_bouton12, #intro_bouton13, #intro_bouton14, #intro_bouton15, #intro_bouton16, #intro_bouton17, #intro_bouton18, #intro_bouton19, #intro_bouton20, #intro_bouton21, #intro_bouton22, #intro_bouton23, #intro_bouton24, #intro_bouton25, #intro_bouton26, #intro_bouton27, #intro_bouton28, #intro_bouton29, #intro_bouton30, #intro_bouton31, #intro_bouton32, #intro_bouton33, #intro_bouton34, #intro_bouton35, #intro_bouton36, #intro_bouton37, #intro_bouton38, #intro_bouton39, #intro_bouton40, #intro_bouton41, #intro_bouton42, #intro_bouton43, #intro_bouton44, #intro_bouton45, #intro_bouton46, #intro_bouton47, #intro_bouton48, #intro_bouton49, #intro_bouton50, #intro_bouton51, #intro_bouton52, #intro_bouton53, #intro_bouton54, #intro_bouton55, #intro_bouton56, #intro_bouton57, #intro_bouton58, #intro_bouton59, #intro_bouton60, #intro_bouton61, #intro_bouton62, #intro_bouton63, #intro_bouton64 {
        position: relative;
        left: 70vw;
        font-size: 2rem;
    }
    #intro1, #intro2, #intro3, #intro4, #intro5, #intro6, #intro7, #intro8, #intro9, #intro10, #intro11, #intro12, #intro13, #intro14, #intro15, #intro16, #intro17, #intro18, #intro19, #intro20, #intro21, #intro22, #intro23, #intro24, #intro25, #intro26, #intro27, #intro28, #intro29, #intro30, #intro31, #intro32, #intro33, #intro34, #intro35, #intro36, #intro37, #intro38, #intro39, #intro40, #intro41, #intro42, #intro43, #intro44, #intro45, #intro46, #intro47, #intro48, #intro49, #intro50, #intro51, #intro52, #intro53, #intro54, #intro55, #intro56, #intro57, #intro58, #intro59, #intro60, #intro61, #intro62{ 
        font-size: 0.9rem;
        line-height: 1.5;
        color: #333;
    }

    /*--------------------*/

    #detail1, #detail2, #detail3, #detail4, #detail5, #detail6, #detail7, #detail8, #detail9, #detail10, #detail11, #detail12,
.moredetail1, .moredetail2, .moredetail3, .moredetail4, .moredetail5, .moredetail6, .moredetail7, .moredetail8, .moredetail9, .moredetail10, .moredetail11, .moredetail12{
    text-align: left;
    padding-left: 15vw;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 1vh;
    margin-bottom: 0;
    }

    #in_bouton1, #in_bouton2, #in_bouton3, #in_bouton4, #in_bouton5, #in_bouton6, #in_bouton7, #in_bouton8, #in_bouton9, #in_bouton10, #in_bouton11, #in_bouton12{
        position: relative;
        left: 70vw;
        font-size: 2rem;
    }

    #detail_bouton1, #detail_bouton2, #detail_bouton3, #detail_bouton4, #detail_bouton5, #detail_bouton6, #detail_bouton7, #detail_bouton8, #detail_bouton9, #detail_bouton10, #detail_bouton11, #detail_bouton12,
#moredetail_bouton1, #moredetail_bouton2, #moredetail_bouton3, #moredetail_bouton4, #moredetail_bouton5, #moredetail_bouton6, #moredetail_bouton7, #moredetail_bouton8, #moredetail_bouton9, #moredetail_bouton10, #moredetail_bouton11, #moredetail_bouton12{
         font-size: 1.5rem;

}
    .expo {
        text-align: center;
        margin-left: 18vw;
        margin-right: 18vw;
    }

    }


